* {
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 55px 20px 35px;

  background:
    radial-gradient(
      circle at 50% 45%,
      #17183c 0%,
      #0d1029 45%,
      #080b1d 100%
    );

  color: #ffffff;
}

/* Background shapes */

.background-shape {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

.shape-one {
  width: 330px;
  height: 330px;
  top: -180px;
  left: -100px;

  background: #5926c7;
  opacity: 0.7;
}

.shape-two {
  width: 360px;
  height: 360px;
  right: -100px;
  bottom: -210px;

  background: #5926c7;
  opacity: 0.55;
}

/* Footer */

footer {
  position: relative;
  z-index: 2;

  text-align: center;

  margin-top: 32px;

  color: #8991b4;
  font-size: 16px;
}

footer span {
  color: #b45cff;
  font-weight: 600;
}